<div class="container" id="assessment" data-activity="sequential">
<section data-activity="assessment">
    <p><strong>Answer</strong> these questions to complete this assessment.</p>
    <p>You don't have to answer any of them correctly.</p>
    <div id="q0" data-activity="question">
        <p><strong>Choose</strong> pass to pass this question</p>
        <button data-pass>Pass</button>
        <button data-fail>Fail</button>
    </div>
    <div id="q1" data-activity="question">
        <p><strong>Choose</strong> C to pass this question</p>
        <ul>
            <li><label><input type="radio" name="q1" value="a" /> A</label></li>
            <li><label><input type="radio" name="q1" value="b" /> B</label></li>
            <li><label><input type="radio" name="q1" value="c" data-pass /> C</label></li>
        </ul>
    </div>
    <form id="q2" data-activity="question">
        <p><strong>Choose</strong> A and <strong>select</strong> submit to pass this question.</p>
        <ul>
            <li><label><input type="radio" name="q2" value="a" data-pass /> A</label></li>
            <li><label><input type="radio" name="q2" value="b" /> B</label></li>
            <li><label><input type="radio" name="q2" value="c" /> C</label></li>
        </ul>
        <button type="submit">Submit</button>
    </form>
    <form id="q4" data-activity="question">
        <p><strong>Choose</strong> all answers and <strong>select</strong> submit to pass this question.</p>
        <ul>
            <li><label><input type="checkbox" name="q3" value="a" data-pass /> A</label></li>
            <li><label><input type="checkbox" name="q3" value="b" data-pass /> B</label></li>
            <li><label><input type="checkbox" name="q3" value="c" data-pass /> C</label></li>
        </ul>
        <button type="submit">Submit</button>
    </form>
    <form id="q5" data-activity="question">
        <p><strong>Choose</strong> all odd numbers and <strong>select</strong> submit to pass this question.</p>
        <ul>
            <li><label><input type="checkbox" name="q4" value="0" /> 0</label></li>
            <li><label><input type="checkbox" name="q4" value="1" data-pass /> 1</label></li>
            <li><label><input type="checkbox" name="q4" value="2" /> 2</label></li>
            <li><label><input type="checkbox" name="q4" value="3" data-pass /> 3</label></li>
            <li><label><input type="checkbox" name="q4" value="4" /> 4</label></li>
            <li><label><input type="checkbox" name="q4" value="potato" data-pass /> <span title="very odd number">&#x1F954</span></label></li>
        </ul>
        <button type="submit">Submit</button>
    </form>
    <form id="q6" data-activity="question">
        <p><strong>Enter</strong> any text in the field below and <strong>select</strong> submit to pass this question.</p>
        <input type="text" name="q5" required placeholder="any text" data-pass />
        <button type="submit">Submit</button>
    </form>
    <form id="q7" data-activity="question">
        <p><strong>Enter</strong> "answer" in the field below and <strong>select</strong> submit to pass this question.</p>
        <input type="text" name="q6" required data-pass="answer" />
        <button type="submit">Submit</button>
    </form>
    <form id="q8" data-activity="question">
        <p><strong>Enter</strong> any year between 1800 - 2100 in the field below and <strong>select</strong> submit to pass this question.</p>
        <input type="text" name="q7" required maxlength="4" pattern="(?:1[89]|2[01])[0-9]{2}" data-pass />
        <button type="submit">Submit</button>
    </form>
</section>
</div>
<footer class="feedback feedback-prev-complete">
    <nav class="container">
        <button data-navigate="next">Continue</button>
    </nav>
</footer>
