<header id="page-header">
    <div class="container">
        <h1>Basic activity.js test</h1>
    </div>
</header>
<div class="container" id="basic-test" data-activity="sequential">
<section id="a" data-activity="test">
    <p>This is an activity</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <button data-template="wrap" data-complete>Mark as complete</button>
</section>
<section class="modal-wrap">
    <div class="modal-inner">
        <div id="b" data-activity="another">
            <p>This is another</p>
            <button data-complete>Mark as complete</button>
        </div>
    </div>
</section>
<section id="c" data-activity="parent">
    <p>This is yet another</p>
    <p><strong>Complete</strong> these two activites, and this one will be completed automatically.</p>
    <div id="d" data-activity="blah">
        <button data-complete>Mark as complete</button>
    </div>
    <div id="e" data-activity="blah2">
        <button data-complete>Mark as complete</button>
    </div>
</section>
<section id="f" data-activity="sequential">
    <p>This one requires you to <strong>complete</strong> these activities in sequence.</p>
    <div id="g" data-activity="blah">
        <button data-complete>Mark as complete</button>
    </div>
    <div id="h" data-activity="blah2">
        <button data-complete>Mark as complete</button>
    </div>
</section>
</div>
<footer class="feedback feedback-prev-complete">
    <nav class="container">
        <button data-navigate="next">Continue</button>
    </nav>
</footer>
<script type="text/javascript">
( function () {
    const $ = aktivitet.globals.$;
    const $$ = aktivitet.globals.$$;

    console.log( $$( aktivitet.selectors.ACTIVITY )[0].activity );

    // manual (js) wiring to modal
    const $another = $( '[data-activity="another"]' );

    if ( $another )
    {
        $another.addEventListener( 'unlocked', function () {
            this.closest( '.modal-wrap' ).classList.add( 'show' );
        } );
        $another.addEventListener( 'completed', function () {
            this.closest( '.modal-wrap' ).classList.remove( 'show', 'modal-wrap' );
        } );
    }
} )();
</script>