<header id="page-header">
    <div class="container">
        <h1>This is another page.</h1>
        <a data-navigate href="previous">Go back</a>
    </div>
</header>
<div class="container" data-activity="sequential">
<section data-activity="parent">
    <div data-activity="question">
        <p>Did it all work?</p>
        <button data-pass>Yes</button>
        <button data-fail>No</button>
    </div>
    <div class="feedback feedback-prev-pass">
        <p>Yay! :D</p>
    </div>
    <div class="feedback feedback-prev-fail">
        <p>oh. :o</p>
    </div>
</section>
</div>